    .post-nav {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
    }
    .post-nav a {
      background-color: #333;
      color: white;
      text-decoration: none;
      padding: 0.5rem 1.0rem;
    }
    .post-nav a:hover {
      background-color: #555;
    }
    .contenido {
      max-width: 800px;
      margin: 0 auto;
      padding: 2rem;
      background-color: white;
      border-radius: 0.5rem;
    }
    .contenido h2 {
      text-align: center;
      margin-bottom: 1.5rem;
    }
    .contenido p {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
    }

    .video-responsive {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        border-radius: 10px;
        }

    .video-responsive iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        }
